@charset "UTF-8";
/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/

.box-color {
	color: #fff;
	background: #000;
	text-align: center;
	margin: 0;
}

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 428px.
428px would fit some phones. Sizes will vary depending on the projects
you work on and the intended audience, we may go as low as 320px */

#container {
	margin: 0 auto;
	width: 375px;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(4, 71px);
	grid-column-gap: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

#header-con-icon {
	background-color: #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header-box1-media {
	height: 50px;
	grid-column: 1/3;
}

#header-box2-cart {
	height: 50px;
	grid-column: 3/-1;
}

#header-con {
	background-color: #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header-logo {
	grid-column: 1/3;
}

#mobile-nav {
	grid-column: 4/-1;
}

.burger {
	height: 16px;
	background-color:#aaa;
	display: block;
	margin-bottom: 10px;
}

/* index page */


#image-slider-con {
	background-color: #dddddd;
	/* Remove as content will dictate height */
	height: 640px;
	position: relative;
}

#image-slider-con h2 {
	background-color: #ffffff;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	margin: 0;
}

#mobile-slider-left {
	position: absolute;
	left: 0;
	font-size: 120px;
	color:#fff;
	top: 200px;
}

#mobile-slider-right {
	position: absolute;
	right: 0;
	font-size: 120px;
	color:#fff;
	top: 200px;
}

#brew-products {
	/* margin-top: 100px;
	margin-bottom: 100px; */
	background-color: #080808;
	height: 1570px;
}

#brew-products h2 {
	grid-column: 1/-1;
	text-align: center;
}

#brew-product1 {
	grid-column: 1/5;
	/* Remove as content will dictate height */
	height: 300px;
	margin-top: 20px;

}



#col-brew1 {
	grid-column: 1/4;
	background-color: rgb(255, 255, 255);
	height: 248px;

	margin-right: -50px;

}

#col-brew2 {
	grid-column: 1/4;
	background-color: #DDDDDD;
	height: 248px;
	margin-right: -50px;
}

#col-brew3 {
	grid-column: 1/4;
	background-color: #DDDDDD;
	height: 248px;
	margin-right: -50px;
}

#col-brew4 {
	grid-column: 1/4;
	background-color: rgb(255, 255, 255);
	height: 248px;
	margin-right: -50px;
}

.brew-product-box {
	background-color: #ddd;
}

#about-con {
	background-color: #dddddd;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 715px;
}

#about-title {
	text-align: center;
}



#about-img {
	grid-column: 1/4;
	/* Remove as content will dictate height */
	
	
}

#about-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 379px;
	background-color: #aaaaaa;
	text-align: center;
	margin-top: 50px;

}

#products {
	background-color: #8f8c8c;
	height: 1777px;
}

#products h2 {
	grid-column: 1/-1;
	text-align: center;
	
}

#product1 {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 500px;
	margin-top: 20px;
}

#product2 {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 500px;
	margin-top: 20px;
}

#product3 {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 500px;
	margin-top: 20px;
}

.product-box {
	background-color: #ddd;
}

#blog {
	background-color: #ffffff;
	/* height: 900px; */
}

#blog h2 {
	grid-column: 1/-1;
	text-align: center;
	
}

#blog1 {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 694px;
}

#blog2 {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 694px;
	margin-top: 40px;
}

#blog3 {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 694px;
	margin-top: 40px;
}

.blog-box {
	background-color: #ddd;
}

#award-con {
	background-color: #8c8c8c;
	padding-top: 10px;
	padding-bottom: 10px;
	

}





#award-col1 {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 400px;
	margin-top: 20px;
	align-self: center;
}

#award-col2 {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 400px;
	margin-top: 20px;
	align-self: center;
}

#award-col3 {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 400px;
	margin-top: 20px;
	align-self: center;
}

#award-col4 {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 400px;
	margin-top: 20px;
	align-self: center;
}

#media {
	background-color: #ffffff;
}

#map {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 300px;
}

#video {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	margin-top: 20px;
	height: 350px;
}

/*Common page elements  */

#footer-con {
	background-color: #aaaaaa;
	padding-top: 50px;
	padding-bottom: 20px;
}

#footer-logo {
	grid-column: 2/4;
	height: 80px;
	margin-bottom: 50px;
}

#footer-location {
	grid-column: 1/3;
	/* Remove as content will dictate height */
	height: 142px;
}

#footer-useful-link {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 172px;
	margin-bottom: 20px;
	margin-top: 40px;
}

#footer-social {
	grid-column: 3/-1;
	/* Remove as content will dictate height */
	height: 142px;
}

#web-creater {
	grid-column: 1/-1;
	margin-left: 60px;
	font-size: 13px;
}

/* gallery page */

#hero-gallery-con {
	background-color: #aaaaaa;
	background: url("https://via.placeholder.com/375x458");
	height: 458px;
}

#hero-gallery-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 350px;
	margin-top: 20px;
}

#gallery-controls {
	grid-column: 1/-1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.dot {
	background-color: #dddddd;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
  }

